# Snowflake

SNOWFLAKE_ORGANIZATION_NAME = [changeme]
SNOWFLAKE_ACCOUNT_NAME = [changeme]
SNOWFLAKE_USER = [changeme]
SNOWFLAKE_PASSWORD = [changeme]
SNOWFLAKE_ROLE = [changeme]
SNOWFLAKE_AUTHENTICATOR = [changeme]

# default connection in the connection.toml used for snow CLI calls.
SNOWFLAKE_DEFAULT_CONNECTION_NAME = dev

# DBT
UNIQUE_SCHEMA_PREFIX = [changeme]
