# SNOWFLAKE
SNOWFLAKE_ACCOUNT_NAME = [changme]
SNOWFLAKE_ORGANIZATION_NAME = [changme]
SNOWFLAKE_USER = [changme]
SNOWFLAKE_ROLE = [changme]
SNOWFLAKE_PAT = [changme]

# DBT
UNIQUE_SCHEMA_PREFIX = [changme]
